/* Background colors */
.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-primary-300 {
  background-color: var(--primary-300);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.bg-white {
  background-color: white;
}

/* colors */
.white {
  color: #fff;
}

.primary-500 {
  color: var(--primary-500);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-300 {
  color: var(--gray-300);
}

.error-300 {
  color: var(--error-300);
}

.center-text {
  text-align: center;
}

/* Margins */
.my-1 {
  margin: 1rem 0;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mt-1 {
  margin-top: 1rem;
}

/* Flex & Grid */
.display-initial {
  display: initial;
}
.flex {
  display: flex;
}

.flex-center {
  align-items: top;
}

.flex-end {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap-0-25 {
  gap: 0.25rem;
}
.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.items-center {
  align-items: center;
}

/* Width */
.fit-content {
  width: fit-content;
}

/* Text styling */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.font-family-inter {
  font-family: "Inter";
}

/* Paddings */
.p-0 {
  padding: 0;
}

.p-0-5 {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.block {
  display: block;
}

.anchor-red {
  cursor: pointer;
  color: var(--primary-500);
  font-size: 14px;
}
